## T-test of two samples

In [1]:
import numpy as np
from scipy import stats

### Two Sample T Test (two tailed)

In [3]:
group_A = [85, 88, 90, 92, 87, 85, 89, 91, 86, 88] 
group_B = [82, 84, 80, 83, 81, 79, 78, 85, 84, 83]

In [ ]:
# sample_mean_A = np.mean(group_A)
# sample_mean_B = np.mean(group_B)
# group_A_std = np.std(group_A, ddof=1)
# group_B_std = np.std(group_B, ddof=1)
# n1 = len(group_A)
# n2 = len(group_B)
# df = min(n1-1, n2-1)


# t_test = (sample_mean_A - sample_mean_B)/(np.sqrt((np.square(group_A_std)/n1)+(np.square(group_B_std)/n2)))
# t_test


# p_value = 2*(1-stats.t.cdf(abs(t_test),df))
# p_value

##### Can find T test and p value directly by using builtin methods

In [4]:
t_test, p_value = stats.ttest_ind(group_A, group_B ,equal_var=False)

In [5]:
significance_value = 0.05      #alpha value

In [6]:
if p_value > significance_value:
    print("I wil accept the null hypothesis")
else:
    print("I will reject the null hypothesis")

I will reject the null hypothesis

### Two Sample T Test (two tailed)

In [50]:
Batch_A = [85, 88, 90, 92, 87, 85, 89, 91, 86, 88]
Batch_B = [82, 84, 80, 83, 81, 79, 78, 85, 84, 83]

In [51]:
t_test, p_value = stats.ttest_ind(group_A, group_B ,equal_var=False)

In [52]:
significance_value = 0.05      #alpha value

In [53]:
if p_value > significance_value:
    print("I wil accept the null hypothesis")
else:
    print("I will reject the null hypothesis")

I will reject the null hypothesis

### Two samples T test (right tail)

In [56]:
program_A = [3.1, 2.9, 3.5, 3.2, 3.0, 3.3, 2.8, 3.4]
program_B = [2.4, 2.6, 2.5, 2.3, 2.7, 2.5, 2.8, 2.6]

In [57]:
t_stats, p_value = stats.ttest_ind(program_A, program_B, equal_var=False)
p_value

np.float64(8.328886362410781e-05)

In [58]:
p_right = p_value/2 if t_stats>0 else 1-(p_value/2)
p_right

np.float64(4.1644431812053904e-05)

In [59]:
significance_value = 0.05      #alpha value

In [61]:
if p_right > significance_value:
    print("I wil accept the null hypothesis")
else:
    print("I will reject the null hypothesis")

I will reject the null hypothesis

### Two sample T Test (right tail)

In [64]:
method_A = [78, 80, 75, 77, 79, 76, 78, 74, 77, 75]
method_B = [82, 85, 81, 83, 84, 82, 86, 80, 83, 85]

In [66]:
t_stats, p_value = stats.ttest_ind(method_A, method_B, equal_var=False)
t_stats

np.float64(-7.251034932944676)

In [67]:
p_right = p_value/2 if t_stats>0 else 1-(p_value/2)
p_right

np.float64(0.9999995175355312)

In [68]:
significance_value = 0.01     #alpha value

In [69]:
if p_right > significance_value:
    print("I wil accept the null hypothesis")
else:
    print("I will reject the null hypothesis")

I wil accept the null hypothesis